css = [[

image.badge
{
	left: 150px;
    border-color: rgb(1, 1, 1);
    width: 25px;
    height: 25px;
    background-image: path(ui/menu/profile_icons_on.dds) pixelCoords(49, 2, 69, 22);
    hover-background-color: rgb(0.6,0.6,0.6,1);
    top: 75px;
}

link.badge
{
    left: 150px;
    font-name: fonts/AgencyFB_small.fnt;
    text-color: rgb(0.49, 0.9, 0.98);
    hover-text-color: rgb(1, 0.58, 0,09);
    hover-background-color: rgba(1,1,1,0);
    text-align: left;
    top: 75px;
}

]]